{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<body>
    <button id="postbutton" onclick = "showPostInput()">Make a Post</button>
    <div id = "postContainer">
        <form method="POST">
            {%csrf_token%}
            {{post_form.as_p}}
            <button type ="submit" name="submit_post">Post</button>
        </form>
    </div>
    {% if latest_question_list %}
        <ul>
        {% for post in latest_question_list %}
            <div id="postboard">
                <h2>{{post.post_title}}</h2>
                <li>{{post.post_text}}</li>
                <button id = "commentbutton" onclick="showCommentInput('{{post.id}}')">Comment</button>
                <div id = "commentContainer-{{post.id}}">
                    <form method="POST">
                        {% csrf_token %}
                        {{comment_form.as_p}}
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <button type="submit" name ="submit_comment">Submit Comment</button>
                    </form>
                </div>
                {% if post.comments.all %}
                    <h4>comments:</h4>
                    {% for comment in post.comments.all%}
                        <li>{{comment.post_text}}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
        </ul>
        
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</body>
<script>
    function showCommentInput(postid) {
      document.getElementById('commentContainer-'+postid).style.display = 'block';
    }
  
    function submitCommentInput() {
      const name = document.getElementById('userComment-{{postid}}').value;
      document.getElementById('commentContainer-{{postid}}').style.display = 'none';
    }

    function showPostInput() {
      document.getElementById('postContainer').style.display = 'block';
    }
  
    function submitPostInput() {
      const name = document.getElementById('userPost').value;
      document.getElementById('postContainer').style.display = 'none';
    }
  </script>